//
// Reverse
// =============================================
// #answer {
//     // .to-rem(border-top, @hr-border-width, @hr-border-style @hr-border-color);
//     ul,
//     ol {
//         text-align: left;
//         li {
//             .to-rem(padding-bottom, @spacing-third); //      .to-rem(padding-bottom, @spacing-base);
//         }
//     }
// }
// .box-code {}
.box-notes {
    width: 85%;
    max-width: 1440px;
    margin: 0 auto;
}

.box-notes>div:not(:empty),
.box-notes>div>div:not(:empty) {
    .box;
    word-spacing: 0px;
    word-wrap: break-word;
    box-shadow: 0 1px 14px rgba(0, 0, 0, 0.12);
}

#true {
    display: none;
    &.active {
        display: block;
    }
}

#false {
    display: none;
    &.active {
        display: block;
    }
}

// Reference ====================================
.reference {
    .to-rem(border-radius, @border-radius-base @border-radius-base 0 0);
    background: lighten(yellow, 30%);
    &-syntax {
        border-bottom: 1px solid fade(#000, 20%);
    } // &-sample-code {
    // }
}

// Footer =======================================
.footer {
    color: @color-gray-dark;
    font-style: italic;
    padding: 0 .3em;
}

.table_answer {
    display: block;
    background-color: white;
    width: 85%;
    height: min-content;
    margin: 0 auto;
    box-sizing: border-box;
    box-shadow: 0 1px 14px rgba(0, 0, 0, 0.12);
    font-weight: 100;
    font-size: 1.3em;
    line-height: 120%;
    text-align: center;
    white-space: nowrap;
    overflow-y: auto;
    .screensMax( {}
    , {
        width: 80%;
    }
    , {}
    , {}
    , {
        width: 100%;
    }
    , {}
    );
}

.td_back {
    padding: .5em;
    padding-bottom: 5px;
    margin: 0 auto;
    white-space: nowrap;
}

code#typeans {
    display: block;
    background-color: #fff;
    border: none;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    white-space: nowrap;
    word-break: keep-all;
    tab-size: 4;
}