code#typeans {
	font-family: "Inconsolata" !important;
	font-size: 1.5em;

		.screensMaxMobile(
		{
// wide
		font-size: 1em;
	},
		{
// narrow
		font-size: .875em;
	},
		{},
		{}, 
		{},
		{},
		{},
		{
		// extra-narrow
		font-size: .575em;
	}
	);
}

.win code#typeans,
.mac code#typeans {
	font-family: "Inconsolata" !important;
	font-size: 1.5em;
	letter-spacing: .02em;

		.screensMaxMobile(
		{
// wide
		font-size: 1em;
	},
		{
// narrow
		font-size: .575em;
	},
		{},
		{}, 
		{},
		{},
		{},
		{}
	);
}

#typeans {
	text-align: left;
}

.cloze {
	text-align: center;
	line-height: 0;
//	color: firebrick;
	padding: 0 1px;
	border: 1px solid white;
}


input#typeans {
	color: ghostwhite;
}
input#typeans[title]{
	line-height: 1em;
}

code#typeans {
	line-height: 1.5;
	text-align: center;
//	color: $color-prim;
}

.td_back {
	text-align: center;
}
//
// Pygments
// =============================================
#typeans span {
	background: white;
	text-align: center;
}
.ipad .typeBad {
	background-color: red;
}
.typeBad {
	color: #dc322f;
	font-weight: normal;
}

.typeMissed,
.typePass {
	color: #268bd2;
	font-weight: normal;
}

.typeGood {
	color: #2ed85a;
	font-weight: normal;
}



.box-notes:not(:empty){
	font-size: 1.6rem;
}