# Sublime files #
#################
*.sublime-project
*.DS_Store
src/assets/less/components/hamburgergs/
dist/themes/selectable/js/external/anki_source/
src/assets/less/components/images/
src/assets/less/components/css/
*.mdd_out
*.map
*.code-workspace
*.codekit3
dist/themes/selectable/card-01-for-test.html
row_copies
min
external
dist/themes/selectable/js/min/
*.codekit3